.MovieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
}

.MovieCard:hover {
    opacity: 0.5;
    transform: translateY(-30px);
    transition: 0.5s;
    
}

.MovieImg{
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

@media (max-width: 560px) {
    .MovieImg {
        width: 90%;
        height: auto;
    }
    
}